@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: stretch;
  }
}

/* Global Styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  white-space: pre-wrap;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  padding-top: 106px;
  margin: 0;
  color: #222;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-dm-sans);
  background-color: var(--background-color);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: var(--background-image-mobile);
  background-position: top left;
  overflow-x: hidden;
  transition: background-image 0.5s ease;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

th {
  font-weight: 600;
}

a {
  cursor: pointer;
  text-decoration: none;
}

// add media query for desktop
@media screen and (width >= 1024px) {
  body {
    font-size: 16px;
    padding-top: 130px;
    background-image: var(--background-image-desktop);
  }
}